<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    {Application.get_env(:live_debugger, :live_debugger_tags)}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="color-scheme" content="light" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />
    <.live_title
      prefix={
        if assigns[:page_title] && assigns[:page_title] != "Streampai",
          do: "Streampai > ",
          else: ""
      }
      default="Streampai"
    >
      {if assigns[:page_title] && assigns[:page_title] != "Streampai",
        do: assigns[:page_title],
        else: "Streampai"}
    </.live_title>
    <LiveVue.Reload.vite_assets assets={["/js/app.js", "/css/app.css"]}>
      <link phx-track-static rel="stylesheet" href="/assets/app.css" />
      <script type="module" phx-track-static type="text/javascript" src="/assets/app.js">
      </script>
    </LiveVue.Reload.vite_assets>
    <script>
      window.S3_BASE_URL = '<%= Streampai.Storage.S3.get_public_url("") %>';
    </script>
  </head>
  <body class="bg-white">
    {@inner_content}
  </body>
</html>
